header {
  @apply flex w-full h-header fixed;
  z-index: 999;

  > .con {
    @apply flex w-full justify-between items-center px-[40px] h-header;
    border-bottom: 1px solid rgba(57, 144, 249, 0);

    > .menu-item {
      @apply flex h-full;

      > ul {
        @apply flex items-center h-full;

        > li {
          @apply flex justify-center font-g text-light-gray05 w-li text-center relative;
          &:hover {
            > a {
              @apply text-blue01;
            }
          }

          > a {
            @apply p-p24;
          }

          > .dept2 {
            @apply p-p24 transition-opacity duration-700 w-full opacity-0 invisible absolute h-h140 top-full;

            > li {
              @apply w-li text-center text-light-gray06 font-light mt-m10;
              &:hover {
                @apply text-blue01;
              }
            }
          }
        }
      }

      > ul:hover {
        > li {
          .dept2 {
            @apply opacity-100 visible;
          }
        }
      }
    }
  }
}

header.hover {
  @apply h-headeropen bg-headerBg transition-height duration-500;

  > .con {
    @apply bg-con-hover;
    border-bottom: 1px solid rgba(57, 144, 249, 0.5);
  }
}
