@import "header.css";
@import "footer.css";

@import "home/main.css";
@import "home/mainslide.css";
@import "home/sand.css";
@import "home/service.css";
@import "home/technology.css";
@import "home/issue.css";
@import "home/inquiry.css";

@import "service/ctx.css";
@import "service/platformyoutube.css";
@import "service/graph.css";
@import "service/features.css";
@import "service/comparison.css";
@import "service/cases.css";

@import "notice/noticebn.css";
@import "notice/noticetable.css";

@import "company/companybn.css";
@import "company/history.css";
@import "font.css";
@import "button/mainbtn.css";
@import "modal/inquirypopup.css";

@import "mini.css";
/* @import "minifooter.css"; */

body {
  background-color: #050a1a;
  color: white;
  font-family: "GongGothicMedium";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* base 기본 css 기본 스타일을 주는 것.? */
@layer base {
  .sands-con {
    @apply w-con h-full mx-auto flex flex-col;
    /* border: 1px solid red; */
  }

  .sands-title {
    @apply flex flex-col justify-center items-center h-full;
    > h2 {
      @apply font-g text-t24 font-light;
    }
    > h3 {
      @apply font-e text-t50;
    }
  }

  .sands-con {
    > .title2 {
      @apply gap-g24 pb-p100 pt-p100;
      > h3 {
        @apply bg-g-txt-blue02 bg-clip-text text-t20 font-e;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .banner-title {
    @apply h-h760;
    background-size: cover;
    > div {
      @apply flex flex-col h-full;
      > .sands-title {
        @apply flex flex-col justify-center items-center flex-1;
        > h2 {
          @apply font-g text-t24 font-light;
        }
        > h3 {
          @apply font-e text-t50;
        }
      }

      > .belt {
        @apply flex justify-center items-center bg-belt w-full h-h60;

        > li {
          @apply w-w180 flex justify-center h-full;

          > a {
            @apply flex justify-center items-center h-full w-full font-g text-t18;
          }
        }
      }
    }
  }

  em {
    @apply not-italic;
  }
}

/* components 버튼, 카드 같은 녀석들 스타일 정해주기? */
@layer components {
  /* 각 섹션 타이틀 텍스트 */
  .title > ul {
    @apply flex text-t18 gap-g10 mb-m20 font-light bg-g-txt-blue bg-clip-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title > span {
    @apply text-t46 text-center mb-m40;
  }

  .btn {
    @apply hover:bg-white;
  }

  /*  */
  .title2 {
    @apply flex flex-col items-center gap-g40;
    > h2 {
      @apply text-t42 text-center;
    }
    > span {
      @apply font-g text-t20 font-light;
      > em {
        @apply not-italic text-blue01;
      }
    }
  }

  /* &:hover .mainbtn button > div:first-of-type {
    @apply bg-white mt-m5 ml-m5;

    > div {
      &:before {
        @apply border-l-2 border-t-2 border-black;
      }

      &:after {
        @apply bg-black;
      }
    }
  } */
}

/* utilties */

@keyframes left {
  from {
    opacity: 0;
    transform: translate(700px, 0px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translate(-700px, 0px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translatey(50px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}

@keyframes fadeup2 {
  from {
    opacity: 0;
    transform: translatey(200px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}

@keyframes scale {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
