.notice-table {
  > .sands-con {
    > .title2 {
      padding-bottom: 60px;
    }
    > .notice-top {
      @apply flex justify-between items-center;

      > div:first-of-type {
        @apply flex gap-g20;
        > span {
          @apply text-t16 font-g font-light;
          > em {
            @apply font-normal font-g;
          }
        }

        > span:last-of-type {
          @apply relative;
          &::after {
            @apply absolute bg-white-0.5;
            content: "";
            top: 0;
            left: -15%;
            height: 80%;
            width: 1px;
          }
        }
      }

      > form {
        > fieldset {
          @apply flex gap-g20;
          > legend {
            display: none;
          }
          > .select-box {
            position: relative;
            > select {
              width: 180px;
              -webkit-appearance: none; /* 크롬 화살표 없애기 */
              -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
              appearance: none; /* 화살표 없애기 */
            }
            > img {
              position: absolute;
              top: 40%;
              right: 10%;
            }
          }

          > .input-box {
            position: relative;
            input {
              width: 400px;
            }
            > button {
              position: absolute;
              top: 26%;
              right: 5%;
            }
          }

          select,
          input {
            @apply flex justify-between border h-h45 border-light-blue04  bg-white-0.1 text-t15 font-g text-dakr-gray05;
            padding: 10px 50px 10px 20px;
            border-radius: 8px;
          }

          select:focus,
          input:focus {
            @apply text-white outline-none border-blue01 bg-con-hover;
          }

          > button {
            position: absolute;
          }
        }
      }
    }

    > .notice-body {
      margin-top: 40px;
      > table {
        width: 100%;
        text-align: center;
        > thead {
          > tr {
            > th {
              @apply border-t border-blue02 font-g text-t18 font-normal bg-issue-card;
              padding: 20px 30px;
            }

            > .notice-body__num {
              width: 10%;
            }
            > .notice-body__category {
              width: 10%;
            }
            > .notice-body__title {
            }

            > .notice-body__day {
              width: 15%;
            }

            > .notice-body__view {
              width: 10%;
            }
          }
        }
        > tbody {
          > tr {
            > td {
              @apply font-g text-t16 font-light;
              padding: 20px 30px;
            }

            > .notice-body__category {
              > span {
                padding: 4px 12px;
                @apply border border-blue02 rounded-br4 text-blue02 font-normal text-center;
              }
            }

            > .notice-body__title {
              > a {
                @apply flex;
                width: 100%;
                > span {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  width: 690px;
                }
              }
            }
          }

          > tr:hover {
            @apply bg-issue-card;

            > .notice-body__category {
              > span {
                padding: 4px 12px;
                @apply bg-blue02 text-black;
              }
            }

            > .notice-body__title {
              @apply text-blue02 font-normal;
            }

            > .notice-body__day,
            .notice-body__view {
              @apply text-blue02;
            }
          }

          > tr:first-child {
            @apply border-t border-light-blue04;
          }

          > tr:last-of-type {
            @apply border-b border-blue02;
          }

          > tr:not(:last-of-type) {
            @apply border-b border-light-blue04;
          }
        }
      }
    }

    > .notice-pagination {
      @apply pt-p60 pb-p200;
      @apply flex gap-g20 justify-center;
      > button {
        @apply font-g font-light text-t16 w-w24 relative flex justify-center items-center;
        &:hover {
          @apply bg-light-blue05;
          &::before {
            @apply bg-blue01;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
          }
        }
        &:active {
          @apply text-blue02 font-normal;
        }
      }
      > .active {
        @apply relative font-normal;
        &::before {
          @apply bg-blue01;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
        }
      }
    }
  }
}
