.notice-banner {
  background: url("@/images/notice.png ");
  background-size: cover;
  > div {
    > .belt {
      > li:first-of-type {
        @apply relative;
        &::before {
          @apply absolute w-full h-h3 bg-blue01;
          content: "";
          top: 0;
          left: 0;
        }
      }

      > li:last-of-type {
        a {
          @apply font-light;
        }
      }
    }
  }
}
