.sand {
  @apply h-screen;

  > .sands-con {
    justify-content: center;
  }
}

.title {
  @apply pt-p70 flex justify-center flex-col items-center;
  > ul {
    > li:not(:last-of-type) {
      &::after {
        content: "·";
        margin-left: 10px;
      }
    }
  }

  > span {
    > em {
      @apply not-italic bg-g-txt-blue bg-clip-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  > p {
    @apply text-center text-t20 font-light font-light font-g;
  }
}

/* 메인페이지 sands 카드형식 ul */
.card {
  @apply flex justify-between mt-m60;

  > li {
    @apply flex flex-col w-w296 h-h335 justify-center items-center rounded-br8 font-g;
    background: radial-gradient(
        138.09% 141.42% at 0% 0%,
        rgba(57, 144, 249, 0.3) 0%,
        rgba(0, 255, 208, 0.03) 57.63%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(255, 255, 255, 0.05);

    > h3 {
      @apply text-t24 mt-m24;
    }
    > p {
      @apply text-t20 font-light text-white-0.8;
      > em {
        @apply text-blue01 not-italic;
      }
    }
  }
}

.active {
  .sand {
    .title {
      > span {
        animation: fadeup 1s ease;
      }
      > p {
        animation: fadeup 1.5s ease;
      }
    }

    .security {
      animation: fadeup2 1s ease;
    }
    .ai {
      animation: fadeup2 1.5s ease;
    }
    .network {
      animation: fadeup2 2s ease;
    }
    .data {
      animation: fadeup2 2.5s ease;
    }
  }
}
