.sand {
  @apply h-screen;
}

.title {
  @apply flex justify-center flex-col items-center pt-[160px];
}

.title > div {
  @apply flex text-[18px] gap-[10px] mb-[24px] font-light;
  background: linear-gradient(90deg, #3990f9 0%, #59ffe9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title > span {
  @apply text-[46px] text-center leading-[55px] mb-[40px];
}

.title > span > em {
  @apply not-italic;
  background: linear-gradient(90deg, #3990f9 0%, #59ffe9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title > p {
  @apply text-center text-[20px] font-light leading-[30px];
}

.card {
  @apply flex justify-between mt-[60px];

  > li {
    @apply flex w-[296px] h-[335px] justify-center items-center;
    border-radius: 8px;
    background: radial-gradient(
        138.09% 141.42% at 0% 0%,
        rgba(57, 144, 249, 0.3) 0%,
        rgba(0, 255, 208, 0.03) 57.63%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(255, 255, 255, 0.05);
  }
}

.card .title > div > p {
  /* position: relative;
  z-index: 1; */
}

.title > div > p:not(:last-child)::after {
  /* content: "";
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: linear-gradient(90deg, #3990f9 0%, #59ffe9 100%);
  position: absolute;
  top: ; */
}
