.technology {
  height: 100vh;
  > .sands-con {
    position: relative;
    .title {
      position: absolute;
      /* text-align: start; */
      /* border: 1px solid red; */
      > div {
        width: 100%;
      }
      > span {
        width: 100%;
        text-align: start;
      }
    }
  }
}
